body {
  background-color: #3570D6;
}
.navbar{
  background-color: #3570D6;
  color: white;
}
.navigasi-link{
  color: white;
  font-size: 30px;
}
.navigasi-jarak{
  margin-right: 20px;
}
.navbar-nav .nav-item:hover .nav-link{
  color: #a1a0a0; 
}
.navbar-brand p{
  font-weight: 600;
  padding-left: 10px;
  font-family: Poppins, sans-serif;
  margin: 0px;
  color: white;
  transform: translateY(17%);
}
.navbar-brand img{
  border: white; 
  border-radius: 50%;
}
.navbar-brand{
  padding-left: 30px;
}
.navbar-nav li a p{
  text-align: center;
  font-weight: 100;
  font-size:medium;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
}
.navbar-nav li a .selected{
  text-align: center;
  font-weight: 600;
  font-size:medium;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
}
.tombol-daftar{
  color:white;
  text-align: center;
  font-weight: 600;
  font-size:medium;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
  padding: 5px;
}
.tombol-masuk{
  color: black;
  text-align: center;
  font-weight: 600;
  font-size:medium;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
  background-color: white;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
a{
  text-decoration: none;
}
.ingin-belajar-apa h2{
  color:white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
  padding: 5px;
}
.ingin-belajar-apa p{
  color:white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
  padding: 5px;
}
.baliho-dashboard{
  background-color: grey;
  width: 80%;
  height: 300px;
}
.tombol-cari-pelajaran{
  background-color: #6197EF;
  color: black;
  outline: 2px solid #000000;
}
.text-input-cari-pelajaran{
  outline: 2px solid #000000;
}
.kenapa-belajar-di h2{
  text-align: center;
  color:white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
  margin: 0px;
}
.colored-card {
  border-radius: 10px; 
  overflow: hidden;
}

.colored-card .top-part {
  background-color: #6197EF; 
  color: white; 
  padding: 20px;
}

.thin-text{
  color: white;
  font-weight: 100;
  font-family: 'Poppins', sans-serif; 
}
.semibold-text{
  color: white;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
}
.genre-kelas{
  background-color: #DBF1FE;
  color: #349EEE;
  font-size: 9px;
}
.carousel-control-next.kelas{
  background-color: #6197EF;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  top: 50%;
  padding: 7px;
  transform: translate(-150%,-45%)
}
.carousel-control-prev.kelas{
  background-color: #6197EF;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  top: 50%;
  padding: 7px;
  transform: translate(150%,-45%)
}
.carousel-control-next.talenta{
  background-color: #6197EF;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  padding: 7px;
  transform: translate(-450%,540%);
}
.carousel-control-prev.talenta{
  background-color: #6197EF;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  padding: 7px;
  transform: translate(3100%,540%);
}
.card-text{
  font-family: Arial, Helvetica, sans-serif;
}
.text-center{
  text-align: center;
}
.arial-light{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 0px;
}
.arial-bold{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0px;
}
.card{
  border: none;
}
.garis-horizontal-atas{
  width: 85%;
  border-top: 3px solid #6197EF;
  align-self: center;
  padding: 0%;
}
.difficulty-kelas-icon{
  padding: 0px;
  padding-left: 10px;
}
.difficulty-kelas-text{
  padding: 2px;
  font-size: 12px;
  transform: translateY(10%);
}
.rating-kelas-icon{
  padding: 0px;
  padding-left: 10px;
}
.rating-kelas-text{
  padding: 2px;
  font-size: 12px;
  color: #67C624;
  transform: translateY(10%);
}
.nama-pengajar-kelas{
  font-size: 13px;
}
.title-pengajar-kelas{
  font-size: 10px;
}
.before-discount{
  color: grey;
  font-size: 13px;
  text-decoration: line-through;
}
.tombol-kelas-wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
.tombol-preview{
  color: #FFA62B;
  margin-top: 10px;
  max-height: 30px;
  border-radius: 7%;
  border: solid #FFA62B;
  font-size: 12px;
}
.tombol-beli{
  margin-top: 10px;
  max-height: 30px;
  border: solid #4A90E2;
  background-color: #4A90E2;
  border-radius: 7%;
  
}
.preview-text{
  color: #FFA62B;
  font-size: 12px;
}
.beli-text{
  color: white;
  font-size: 12px;
}